.footer {
    padding: 10px 70px 30px 70px;
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #404040;
}

svg path {
    height: 20vh;
    width: 20vw;
}

@keyframes logo_colors {
    0% {
        fill: #808080
    }
    100% {
        fill: #00baff
    }
}

